html,
body {
  width: 100%;
  height: 100%;
}
.btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none !important;
}
#map {
  width: 100%;
  height: 100%;
}
